<div *ngIf="state$ | async as state">
  <h1>Salad Bar</h1>

  <p>
    Order ID :
    <span class="badge badge-success">{{
      state.orderId
    }}</span>
  </p>
  <p>
    Username :
    <span class="badge badge-success">{{
      state.username
    }}</span>
  </p>

  <div *ngIf="!state.username">
    <input
      class="form-control"
      aria-placeholder="your name..."
      type="text"
      [(ngModel)]="username"
      style="width: 400px"
    />
    <button
      class="btn btn-outline-secondary"
      [disabled]="!username"
      (click)="setUsername(username)"
    >
      Start my order
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
